html, body, header, footer, div,
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image {
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -5;
}

header {
    background-color: #424025;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

footer {
}

.header-bar {
    width: 100%;
    margin: auto;
    background-color: #424025;
}

.logo {
    height: 50px;
    padding: 10px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.35);
    height: auto; /* Full height */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.menu li a {
    float: left;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

.menu li a.active {
    background-color: #4CAF50;
    color: white;
}

.menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.content {
    width: 80%;
    margin: auto;
    margin-top: 125px;
    margin-bottom: 25px;
    background-color: rgba(238,238,238,0.7);
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.common-content {
    margin-top: 25px;
}

.contact-form {
    margin: 20px;
}

label {
    padding: 12px 12px 12px 0;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.site-map {
    text-align: center;
}

.site-map a {
    font-size: 18px;
    margin-bottom: 12px;
    color: #333;
}

.map-element {
    height: 300px;
}

/* bootstrap implementation */
.row:before, .row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover, .btn:focus {
    color: #333333;
    text-decoration: none;
}

.btn-primary {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #fff;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.col-sm-6, .col-md-3, .col-md-4, .col-md-6 {
    position: relative;
    min-height: 1px;
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 24%;
        float: left;
    }
    .col-md-4 {
        width: 100%;
    }
    .col-md-6 {
        float: left;
        width: 50%;
    }
}

@media (max-width: 992px) {
    .col-sm-6 {
        width: 48%;
        float: left;
    }
}

.list-container {
    margin: 5px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.list-img {
    display: block;
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    font-size: 20px;
    text-align: center;
}

.caption:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.caption a {
    text-decoration: none;
    color: #f1f1f1;
}

.caption p {
    padding: 5px;
}

.item-container {
    margin: 5px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.item-img {
    display: block;
    width: 100%;
    height: auto;
}

.footer-content {
    background-color: #424025;
}

.prev-pages, .next-pages {
    display: inline-block;
}

.prev-pages {
    float: left;
}

.next-pages {
    float: right;
}

.current {
    margin: 0 auto;
    width: 100px;
}